<ion-view view-title="about" class="mainBody" >
  <ion-content scroll="false">
    <a class="button icon-left ion-chevron-left button-clear button-light" onclick="window.history.back()">Back</a>
        <div class="about-introduction">
          <h1>About the application</h1>
          <p>A proposed set of exircises will be usefull and effective regardless of your fitnes level.
          The workout course is provided with clear illustrations without descriptions and instructional videos.
            <br>
            Three workout modes:
            for beginners users,
            for expierenced users,
            for advanced users.
            This workout application will keep all of your muscle groups in good shape.
            Also it has the handy timer, which will remind you about workout time.
            There are a two different modes, you can choose.
            First is 5\2 and it means, that application will remind about workout 5 days in week.
            The second is 1\1 and it says, that the notifications about workout will appear every day in the week.
          </p>
        </div>

      <div class="created-by">
          <h4>Created by</h4>
        <img id="geeksters-image" src="../img/geeksters.png">
        <p>	&copy; Copyright, "Geeksters" <br> (OOO "Гикстерс")<br> All rights reserved</p>
      </div>

    <div class="footer-aboutUs">
      <a href="mailto:rtimashov1@gmail.com">Feedback</a>
      <a href="http://geeksters.pro">Web site</a>
    </div>
  </ion-content>
</ion-view>
