<ion-view class="Beginner">


  <ion-content scroll="false" ng-controller="noviceController">

    <a class="button icon-left ion-chevron-left button-clear button-light" onclick="window.history.back()">Logout</a>

    <a ng-hide="id==0" class="button icon-left ion-chevron-left button-clear button-light" ng-click="changeBeginnerImage(-1)"></a>
    <a ng-hide="id==4" class="button icon-left ion-chevron-right button-clear button-light" ng-click="changeBeginnerImage(1)"></a>
<img id="picture" ng-src="{{beginnerImg}}" style="width: 100%">






  </ion-content>
</ion-view>
