

/* iPhone 5 */
@media (min-width: 0px) and (max-width:320px ){
  .mainBody{
    background-color: rgb(216, 216, 82);
  }
  .startPage img{
    position: relative;
    margin: 18%;
    padding-top:10%;
    width: 70%;
  }
  .buttons-list{
    position: absolute;
    margin: -8% 7%;
  }
  .buttons-list li {
    padding-top: 5%;
    font-size: large;
  }
  #buttons-for-start{
    width:100%;
    height:40%;
    float:left;
    margin: 10% 13%;
  }
  .difficulty-button {
    font-size: 120%;
    font-weight: bold;
    margin: -70% 120%;
    position: absolute;
  }

  .noviceButton{
    background-color: rgb(216, 216, 82);
    border:4px solid #ffffff;
    border-radius: 50%;
  }
  .middleButton{
    background-color: rgb(122, 216, 95);
    border:4px solid #fdfdfd;
    border-radius: 50%;
  }
  .proButton{
    background-color: rgba(147, 149, 231, 1);
    border:4px solid #fdfdfd;
    border-radius: 50%;
  }
  .footer-icons{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 5% 5%;
  }
  .footer-icons img{
    width: 12%;
  }
  .footer-icons > img:nth-child(2n){
    float:right;
    margin-right:10%;
  }
  .footer-bg{
    position: absolute;
    bottom: -2%;
    width: 100%;
  }
  .Beginner {
    background-color: rgb(216, 216, 82);
  }
  .Experienced {
    background-color: rgb(122, 216, 95);
  }
  .Advanced {
    background-color: rgba(147, 149, 231, 1);
  }
  a.button.icon:before, a.button.icon-left:before, a.button.icon-right:before{
    color: snow;
  }
  .button.button-light.button-clear {
    color: snow;
  }
  .beginner-picture-1{
    width: 40%;
  }



}
@media (min-width: 321px) and (max-width:760px ) {
  .mainBody{
    background-color: rgb(216, 216, 82);
  }
  .startPage img{
    position: relative;
    margin: 18%;
    padding-top:10%;
    width: 70%;
  }
  .buttons-list{
    position: absolute;
    margin: -8% 7%;
  }
  .buttons-list li {
    padding-top: 5%;
    font-size: large;
  }
  #buttons-for-start{
    width:100%;
    height:40%;
    float:left;
    margin: 10% 13%;
  }
  .difficulty-button {
    font-size: 120%;
    font-weight: bold;
    margin: -70% 120%;
    position: absolute;
  }

  .noviceButton{
    background-color: rgb(216, 216, 82);
    border:4px solid #ffffff;
    border-radius: 50%;
  }
  .middleButton{
    background-color: rgb(122, 216, 95);
    border:4px solid #fdfdfd;
    border-radius: 50%;
  }
  .proButton{
    background-color: rgba(147, 149, 231, 1);
    border:4px solid #fdfdfd;
    border-radius: 50%;
  }
  .footer-icons{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 5% 5%;
  }
  .footer-icons img{
    width: 12%;
  }
  .footer-icons > img:nth-child(2n){
    float:right;
    margin-right:10%;
  }
  .footer-bg{
    position: absolute;
    bottom: -2%;
    width: 100%;
  }
  .Beginner {
    background-color: rgb(216, 216, 82);
  }
  .Experienced {
    background-color: rgb(122, 216, 95);
  }
  .Advanced {
    background-color: rgba(147, 149, 231, 1);
  }
  a.button.icon:before, a.button.icon-left:before, a.button.icon-right:before{
    color: snow;
  }
  .button.button-light.button-clear {
    color: snow;
  }
  .beginner-picture-1{
    width: 40%;
  }



}
/* iPad AND HIGHER resolution */


@media (min-width: 768px){
  .mainBody{
    background-color: rgb(216, 216, 82);
  }
  .startPage img{
    position: relative;
    margin: 18%;
    padding-top:10%;
    width: 70%;
  }
  .buttons-list{
    position: absolute;
    margin: -14% 22%;
  }
  .buttons-list li {
    padding-top: 15%;
    font-size: large;
  }
  #buttons-for-start{
    width:100%;
    height:40%;
    float:left;
    margin: 10% 13%;
  }
  .difficulty-button {
    font-size: 150%;
    font-weight: bold;
    margin: -72% 120%;
    position: absolute;
  }

  .noviceButton{
    background-color: rgb(216, 216, 82);
    border:4px solid #ffffff;
    border-radius: 50%;
  }
  .middleButton{
    background-color: rgb(122, 216, 95);
    border:4px solid #fdfdfd;
    border-radius: 50%;
  }
  .proButton{
    background-color: rgba(147, 149, 231, 1);
    border:4px solid #fdfdfd;
    border-radius: 50%;
  }
  .footer-icons{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 5% 5%;
  }
  .footer-icons img{
    width: 12%;
  }
  .footer-icons > img:nth-child(2n){
    float:right;
    margin-right:10%;
  }
  .footer-bg{
    position: absolute;
    bottom: -2%;
    width: 100%;
  }
  .Beginner {
    background-color: rgb(216, 216, 82);
  }
  .Experienced {
    background-color: rgb(122, 216, 95);
  }
  .Advanced {
    background-color: rgba(147, 149, 231, 1);
  }
  a.button.icon:before, a.button.icon-left:before, a.button.icon-right:before{
    color: snow;
  }
  .button.button-light.button-clear {
    color: snow;
  }
  .beginner-picture-1{
    width: 40%;
  }

}
.toggle input:checked + .track .handle {
  background-color: rgb(216, 216, 82);
}
.toggle.toggle-light input:checked + .track {
  background-color: #fff;
}
